.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
}

.square-top-left {
    grid-column: 1;
    grid-row: 1;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.square-top{
    grid-column: 2;
    grid-row: 1;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.square-top-right {
    grid-column: 3;
    grid-row: 1;
    border-bottom: 4px solid black;
}

.square-left {
    grid-column: 1;
    grid-row: 2;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.square {
    grid-column: 2;
    grid-row: 2;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.square-right{
    grid-column: 3;
    grid-row: 2;
    border-bottom: 4px solid black;
}

.square-bottom-left {
    grid-column: 1;
    grid-row: 3;
    border-right: 4px solid black;
}

.square-bottom {
    grid-column: 2;
    grid-row: 3;
    border-right: 4px solid black;
}

.square-bottom-right {
    grid-column: 3;
    grid-row: 3;
}